[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
master = {git = "https://github.com/mchenco/notion-py.git"}
googlemaps = "*"
flask = "*"
requests = "*"
gunicorn = "*"
postgres = "*"
flask-sqlalchemy = "*"
flask-heroku = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
jquery = "*"

[requires]
python_version = "3.6"
